docs/sudoku.aux
docs/sudoku.bbl
docs/sudoku.blg
docs/sudoku.log
docs/sudoku.pdf
docs/sudoku.toc
src/test
src/*.o
src/liboku.a
.tup
src/alt/backtrack
src/alt/gsudoku
src/alt/mckurz
src/alt/mckurzclean
src/alt/mckurzok
src/alt/mcsudoku
src/alt/mcsudoku2
src/alt/sudoku
src/alt/sudokuveryshort
